:root{
    --cor-fundo-pagina: #9705ff;
    --cor-texto-principal: #0a0606;
}

*{
      box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-texto-principal)
    background-color: xvar(--cor-fundo-pagina)
}

.container-pagina{
    width: min(1100pc, 90%);
    margin: 0 auto;
}

.cabecalho-principal{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradiente(180deg, #0ea509 0%, #ac5ae7 60%);
    padding: clamp(2rem, 5vw, 5rem) 0;
}

.cabecalho-principal__titulo{
    font-size: 18pt;
    color: var(--cor-texto-principal);
    margin: 0 0 1.5rem;
}
.cabecalho-principal__subtitulo{
    font-size: 14pt;
    color: var(--cor-texto-principal);
    margin: 0 0 1.5rem;
}